In [1]:
records = [
('foo', 1, 2),
('bar', 'hello'),
('foo', 3, 4),
]

In [2]:
records

[('foo', 1, 2), ('bar', 'hello'), ('foo', 3, 4)]

In [4]:
def do_foo(x,y):
    print('foo',x,y)


def do_bar(s):
    print('bar',s)


for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag=='bar':
        do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [5]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'

In [6]:
uname, *fields, homedir, sh = line.split(':')

In [8]:
uname,homedir

('nobody', '/var/empty')

In [9]:
#sometime yoiu might want to throw away the records

record = ('ACME', 50, 123.45,(12,18,2012))

In [13]:
name, *_, (*_,year) = record

SyntaxError: invalid syntax (1764190750.py, line 1)

In [14]:
name,year

('ACME', 2012)

Keeping the Last N Items

In [15]:
#problem

#you wan to keep a limited history of the last few items seen during iteration or during some other kind of processing.y

In [ ]:
#using deque

Finding the Largest or Smallest N Items

In [22]:
#Problem
#You want to make a list of the largest or smallest N items in a collection


nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
import heapq

print(heapq.nlargest(3, nums))  #prints top 3 
print(heapq.nsmallest(3,nums))  #prints smallest 3

[42, 37, 23]
[-4, 1, 2]

In [23]:
#heapq on more complex params

portfolio = [
{'name': 'IBM', 'shares': 100, 'price': 91.1},
{'name': 'AAPL', 'shares': 50, 'price': 543.22},
{'name': 'FB', 'shares': 200, 'price': 21.09},
{'name': 'HPQ', 'shares': 35, 'price': 31.75},
{'name': 'YHOO', 'shares': 45, 'price': 16.35},
{'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [42]:
#cheap = heapq.nsmallest(3, portfolio, key=lambda s: s#['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda x:x['price'])
expensive

[{'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'ACME', 'shares': 75, 'price': 115.65},
 {'name': 'IBM', 'shares': 100, 'price': 91.1}]

In [45]:
import heapq

heap = list(nums)
heapq.heapify(heap)

In [46]:
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

Implementing a Priority Queue

In [47]:
#You wan to implement a queue that sorts items by a given priority and always returns the item with the highest priority on each pop operation.

In [57]:
#The following class uses the heapq module to implement a simple priority queue:


import heapq

class PriorityQueue:
    def __init__(self) -> None:
        self._queue = []
        self._index = 0

    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index += 1

    def pop(self):
        return heapq.heappop(self._queue)[-1]


#here is an example of how it might be used:

class Item:
    def __init__(self, name):
        self.name = name
    def __repr__(self) -> str:
        return 'Item({!r})'.format(self.name)

In [58]:
q = PriorityQueue()
q.push(Item('foo'),1)
q.push(Item('bar'), 5)
q.push(Item('spam'), 4)
q.push(Item('grok'), 1)

In [59]:
q.pop()

Item('bar')

1.6 Mapping Keys to Multiple Values in a Dictionary

In [60]:
#problem 
#You want to make a dictionary that maps keys to more than one vlaue9a so called multidict)

#Solution

d = {
'a' : [1, 2, 3],
'b' : [4, 5]
}
e = {
'a' : {1, 2, 3},
'b' : {4, 5}
}

In [61]:
from collections import defaultdict

d = defaultdict(list)  #if you want to preserve the order

d['a'].append(1)
d['a'].append(2)
d['b'].append(4)

In [62]:
d

defaultdict(list, {'a': [1, 2], 'b': [4]})

In [65]:
d = defaultdict(set)
d['a'].add(1)
d['a'].add(2)
d['b'].add(4)

In [66]:
d

defaultdict(set, {'a': {1, 2}, 'b': {4}})

In [69]:
d = {} #a regular dictionary
d.setdefault('a', []).append(1)
d.setdefault('a',[]).append(2)
d.setdefault('b',[]).append(4)

In [70]:
d

{'a': [1, 2], 'b': [4]}

Keeping Dictionaries in Order

In [71]:
#to retain the order in which the elements are entered 
#use ordereddict

from collections import OrderedDict

d = OrderedDict()
d['foo'] = 1
d['bar'] = 2
d['spam']  = 3
d['grok']  =4

In [72]:
d

OrderedDict([('foo', 1), ('bar', 2), ('spam', 3), ('grok', 4)])

In [73]:
#This is useful when youi wan to build a mapping that youi may wan to later seralize or encode into a different format. For example if you wan to precisely control the order of fields appearing in a JSON encoding, first building the dat in an OrderedDict will do the trick:


import json

json.dumps(d)

'{"foo": 1, "bar": 2, "spam": 3, "grok": 4}'

In [74]:
#size of an ordereddict is more tha ttwice as large as a normal dictionary due to the extra linked list thats created.

In [1]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

In [5]:
min_price = min(zip(prices.values(),prices.keys()))
max_price = max(zip(prices.values(),prices.keys()))

In [6]:
min_price,max_price

((10.75, 'FB'), (612.78, 'AAPL'))

In [10]:
#similarly to rank the data use zip() with sorted() as in the folwoing

prices_sorted = sorted(zip(prices.values(), prices.keys()))
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

In [11]:
###ZIP CREATES AN ITERATOR THAT CAN ONLY BE CONSUMED ONCE

In [12]:
#Discussion

In [18]:
min(prices, key=lambda k: prices[k])
prices[min(prices, key=lambda k: prices[k])]

10.75

Finding Commonalities in Two Dictionaries

In [1]:
#simply perform set operations

In [2]:
a = {
'x' : 1,
'y' : 2,
'z' : 3
}
b = {
'w' : 10,
'x' : 11,
'y' : 2
}
#Find keys in common
a.keys() & b.keys()


#Find keys in a that are no in b
a.keys() - b.keys()

#Find (key, value) pairs in common

a.items() & b.items()

In [8]:
#make  a dictionary with certain keys removed

c = {key:a[key] for key in a.keys() - {'z','w'}}
c

Removing Duplicates from a aSequence while Maintiaing Order

In [27]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

In [29]:
a = list((1,2,3,4,4,5,6,7,7,8))
list(dedupe(a))

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
def dedupe(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)

In [35]:
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]

In [36]:
a

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

In [43]:
list(dedupe(a, key=lambda d: (d['x'],d['y'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

In [41]:
a[1]['x']

1

Naming a slice

In [59]:
items = list(range(6))

In [60]:
a = slice(2,4)
items[a] = 10,11

In [61]:
del items[a]
items
a  = slice(10, 50,2)
a.start
a.stop

50

In [62]:
s = "HelloWorld"

a.indices(len(s))

(10, 10, 2)

In [63]:
for i in range(*a.indices(len(s))):
    print(s[i])

Determining the Most Frequently Occuring Items in a Sequence

In [64]:
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

In [70]:
from collections import Counter

word_counts = Counter(words)
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

In [71]:
#Discussion 
#As input COunter objects can be fed any sequence of hashable input items

word_counts['not']
word_counts['eyes']

1

In [74]:
#If you want ot increment the count manually, simply use additon

morewords = ['why','are','you','not','looking','in','my','eyes']

for word in morewords:
    word_counts[word] += 1

In [75]:
word_counts

Counter({'look': 4,
         'into': 3,
         'my': 4,
         'eyes': 9,
         'the': 5,
         'not': 2,
         'around': 2,
         "don't": 1,
         "you're": 1,
         'under': 1,
         'why': 1,
         'are': 1,
         'you': 1,
         'looking': 1,
         'in': 1})

In [76]:
#alternatively

word_counts.update(morewords)

In [78]:
a = Counter(words)
b = Counter(morewords)

In [79]:
#combine counts

c = a + b
c

Counter({'look': 4,
         'into': 3,
         'my': 4,
         'eyes': 9,
         'the': 5,
         'not': 2,
         'around': 2,
         "don't": 1,
         "you're": 1,
         'under': 1,
         'why': 1,
         'are': 1,
         'you': 1,
         'looking': 1,
         'in': 1})

In [80]:
#substract counts

a-b

Counter({'look': 4,
         'into': 3,
         'my': 2,
         'eyes': 7,
         'the': 5,
         'around': 2,
         "don't": 1,
         "you're": 1,
         'under': 1})

Sorting a list of Dictionary by a common key

In [81]:
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [82]:
from operator import itemgetter

rows_by_fname = sorted(rows, key=itemgetter('fname'))
rows_by_uid = sorted(rows, key = itemgetter('uid'))

print(rows_by_fname)
print(rows_by_uid)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [83]:
rows_by_lfname = sorted(rows, key=itemgetter('lname','fname'))

In [84]:
rows_by_lfname

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [85]:
#the itemgeter can also be replaced by lambda expressions


rows_by_fname = sorted(rows, key=lambda r: r['fname'])
rows_by_lfname  = sorted(rows, key=lambda r: (r['lname'],r['fname']))

In [86]:
rows_by_lfname

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [87]:
#can also apply min and max into this

min(rows, key=itemgetter('uid'))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

Sorting Objects without native comparison support

In [92]:
class User:
    def __init__(self, user_id) -> None:
        self.user_id = user_id

    def __repr__(self) -> str:
        return 'User({})'.format(self.user_id)

In [101]:
users = [User(1),User(7),User(2)]

In [102]:
sorted(users, key=lambda x: x.user_id)

[User(1), User(2), User(7)]

In [104]:
#instead of using lambda an alternative approach is to use operator.attragetter()


from operator import attrgetter

sorted(users, key=attrgetter('user_id'))



#Also min and max functions can also be applied here

[User(1), User(2), User(7)]

In [105]:
#Grouping Records Together Based on a Field

In [1]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [2]:
rows

[{'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]

In [3]:
#Now suppose you eant ot iterate over the data in chunks grouped by date.To do it first sort by the desired field an then use itertools.groupby()

from operator import itemgetter
from itertools import groupby

#sort by the desired field first

rows.sort(key=itemgetter('date'))

In [4]:
#Iterate in groups

for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print(' ', i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [5]:
#If your goral is to simply group the data toggether by dates into a large data structure that allows random access, you may have better luck using defaultdict() to build a multidict 


from collections import defaultdict
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)

In [7]:
for r in rows_by_date['07/01/2012']:
    print(r)

{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}

Filtering Sequence Elements

In [8]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [9]:
#One potential downside of using a list comprehension is than it might produce a large result if th eoriginal input is large. If this is a concern one can use generator expressions to produce the filtered values iteratively

pos = (n for n in mylist if n>0)

In [11]:
for x in pos:
    print(x)

1
4
10
2
3

In [12]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']

In [13]:
def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False

In [15]:
yy = []
for i in values:
    yy.append(is_int(i))

In [16]:
yy

[True, True, True, False, True, False, True]

In [21]:
ints = list(filter(is_int, values))
ints
#filter() creates an iterator so if you want to create a list of results  make sure you also use list() as shown.

['1', '2', '-3', '4', '5']

In [22]:
addresses = [
'5412 N CLARK',
'5148 N CLARK',
'5800 E 58TH',
'2122 N CLARK'
'5645 N RAVENSWOOD',
'1060 W ADDISON',
'4801 N BROADWAY',
'1039 W GRANVILLE',
]

In [23]:
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [25]:
from itertools import compress

more5 = [n>5 for n in counts]
list(compress(addresses, more5))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

In [29]:
#Extracting a subset of a dictionary

prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

In [30]:
p1 = {key:value for key, value in prices.items() if value>200}

In [31]:
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [33]:
#make a dictionray of tech stocks

tech_names = {'AAPL', 'IBM', 'HPQ', 'MSFT'}
p2  = {key:value for key, value in prices.items() if key in tech_names}

In [34]:
p2

{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

In [35]:
#ALso cna be done using tuples

p1 = dict((key,value) for key, value in prices.items() if value > 200)

In [36]:
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [41]:
p2 = {key:prices[key] for key in prices.keys() if key in tech_names}

In [42]:
p2

{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

Mapping Names to sequence elements

In [43]:
from collections import  namedtuple

Subscriber=  namedtuple('Subscriber',['addr','joined'])

In [44]:
sub = Subscriber('jones@eg.com', joined='2022-01-01')

In [45]:
sub

Subscriber(addr='jones@eg.com', joined='2022-01-01')

In [46]:
sub.addr

'jones@eg.com'

In [47]:
sub.joined

'2022-01-01'

In [48]:
#supporst all of the usual tuple operations such as indexing and unpacking

len(sub)

2

In [49]:
addr, joined = sub

In [50]:
addr, joined

('jones@eg.com', '2022-01-01')

In [52]:
from collections import namedtuple

Stock  =  namedtuple('Stock',['name','shares','price'])



def compute_cost(records):
    total = 0.0
    for rec in records:
        s = Stock(*rec)
        total += rec[1]*rec[2]
    return total

In [53]:
s = Stock('ACME',100, 123.455)

In [54]:
s

Stock(name='ACME', shares=100, price=123.455)

In [55]:
#However unlike the dictionary the named tuple are immutable

#however we can use the _replace function to perform the same

s = s._replace(shares = 75)

In [56]:
s

Stock(name='ACME', shares=75, price=123.455)

In [57]:
from collections import  namedtuple

Stock = namedtuple('Stock',['name','shares','price','date','time'])


stock_prototype = Stock('',0,0.0,None, None)

In [60]:
def dict_to_stock(s):
    return stock_prototype._replace(**s)

In [61]:
a = {'name':'ACME','shares':100,'price':123.45}
kdict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [68]:
import os
files = os.listdir('/home/susearc/Documents/github/Fluent_Python/src/')

if any(name.endswith('.py') for name in files):
    print('There be python')
else:
    print('Sorry no python')

There be python

In [69]:
#Output a tuple as a CSV

s =('ACME', 50, 123.45)
print(','.join(str(x) for x in s))

ACME,50,123.45

In [70]:
#Data reduction across fields of a data structure

portfolio = [
    {'name':'GOOG', 'shares':50},
    {'name':'YHOO', 'shares': 75},
    {'name':'AOL', 'shares':20}
]

In [71]:
min_shares = min(s['shares'] for s in portfolio)
min_shares

20

In [73]:
#Alternative returns
min_shares = min(portfolio, key=lambda s:s['shares'])

In [74]:
min_shares

{'name': 'AOL', 'shares': 20}

Combining Multiple Mapping into a single Mapping

In [75]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

In [77]:
from collections import ChainMap

c = ChainMap(a,b)

print(c['z'])

3

In [78]:
#A ChainMap takes multiple mappings and makes them logically appear as one. However the mappings are not literally merged together. Instead, a ChainMap simply keeps a list of the underlying mappings and redefines common dictionary operations to scan the list. Most operations will work. For example

len(c)

3

In [79]:
list(c.keys())

['y', 'z', 'x']

In [80]:
list(c.values())

[2, 3, 1]